<div class="home-portfolio section">
	<h3 class="section-label">Portfolio</h3>
	<a href="#" class="portfolio-thumb"><img src="/images/homeland-1.jpg" alt="Description of Image" /></a>
	<a href="#" class="portfolio-thumb"><img src="/images/gt-1.jpg" alt="Description of Image" /></a>
	<a href="#" class="portfolio-thumb"><img src="/images/fastco-1.jpg" alt="Description of Image" /></a>
</div>


<div class="home-projects section">
	<h3 class="section-label">Projects</h3>
	
	<div class="home-project-elements">
		<a href="#" class="projects-thumb"><img src="#" alt="Description of Image" /></a>
		<span class="project-title">Illustrations</span>
	</div>

	<div class="home-project-elements">
		<a href="#" class="projects-thumb"><img src="#" alt="Description of Image" /></a>
		<span class="project-title">Typography</span>
	</div>
	
	<div class="home-project-elements">
		<a href="#" class="projects-thumb"><img src="#" alt="Description of Image" /></a>
		<span class="project-title">Unsolicited Redesigns</span>
	</div>

	<div class="home-project-elements">
		<a href="#" class="projects-thumb"><img src="#" alt="Description of Image" /></a>
		<span class="project-title">Making Things</span>
	</div>
	
</div>