<nav class="mobile">
  <a class="stack-of-hotdogs" href="#">Show mobile navigation</a>
  <label>Portfolio</label>
  <ul>
    <li>
      <a href="#">The New Republic</a>
    </li>
    <li>
      <a href="#">New York Post</a>
    </li>
    <li>
      <a href="#">KCRW</a>
    </li>
    <li>
      <a href="#">The Sweeten</a>
    </li>
    <li>
      <a href="#">Fast Company</a>
    </li>
    <li>
      <a href="#">Showtime: Homeland</a>
    </li>
    <li>
      <a href="#">Group Theory</a>
    </li>
    <li>
      <a href="#">JetBlue</a>
    </li>
    <li>
      <a href="#">Benadryl</a>
    </li>
  </ul>
  <label>Projects</label>
  <ul>
    <li>
      <a href="#">Illustrations</a>
    </li>
    <li>
      <a href="#">Typography</a>
    </li>
    <li>
      <a href="#">Unsolicited Redesigns</a>
    </li>
    <li>
      <a href="#">Making Things</a>
    </li>
  </ul>
</nav>
